## Installation

```bash
git clone https://github.com/<your-username>/CyberSecurityProjects.git
cd "Projects/2. Intermediate Projects/AI Powered Soc Analyst"

python3 -m venv venv
source venv/bin/activate

pip install -r requirements.txt
```
